version: '3.8'
services:
  api:
    build:
      context: ./backend/api
      dockerfile: Dockerfile
    container_name: dashe-demo-api
    ports:
      - "8000:8000"
    volumes:
      - ./backend/api/app:/app
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres:13
    container_name: dashe-demo-db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: