version: '3.8'
services:
  api:
    build:
      context: ./backend/api
      dockerfile: Dockerfile
    container_name: dashe-demo-api
    ports:
      - "8000:8000"
    volumes:
      - ./backend/api/app:/app
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres:13
    container_name: dashe-demo-db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  frontend:
    build:
      context: .
      dockerfile: frontend/web-app/Dockerfile
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
    container_name: dashe-demo-web-app
    ports:
      - "3000:80"
    volumes:
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    env_file:
      - .env
    depends_on:
      - api
  expo:
    build: .
    ports:
      - "8081:8081"
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
    volumes:
      - .:/app
    environment:
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
      - REACT_NATIVE_PACKAGER_HOSTNAME=0.0.0.0
    env_file:
      - .env
    depends_on:
      - api
    command: expo start --tunnel

volumes:
  postgres_data: